


<section class="space-section">
    <div class="content-container container-sec">
        
        
        <p class="text">
            {{settings.title}}
        </p>
        
    </div>
    
    </section>

{% schema %}
{
  "name": {
    "ar": " سيكشن مسافه",
    "en": "Space Section"
  },
  "icon": "fa fa-text",
  "display": true,
  "settings": {
     "title": {
      "type": "text",
      "label": {
        "ar": "النص ",
        "en": "Text"
      }
    }
  }
}
{% endschema %}
