:root {
  --primary-color: #64776D;
  --secondary-color: #0C5B50;
  --warning-color: #FFC62A;
  --danger-color: #F55157;
  --success-color: #00AF6C;
  --info-color: #5196F3;
  --gray-100: #F7F7F7;
  --gray-200: #d6d6d6;
  --gray-300: #a5a5a5;
  --gray-400: #666666;
  --gray-500: #444444;
  --gray-600: #333333;
  --Background-color: #1D1F1F;
}
